<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="field">
                    <label class="label">Content</label>

                    <div class="control">
                        <input
                            autofocus
                            [(ngModel)]="todoContent"
                            class="input"
                            type="text"
                            placeholder="What's your task?">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button
                            (click)="onAddTodo()"
                            class="button is-link"
                            [disabled]="todoContent === ''">Add Todo</button>
                    </div>

                    <div class="control">
                        <button
                            (click)="resetTodoContent()"
                            class="button is-text">Cancel</button>
                    </div>
                </div>

                <hr>

                <nav class="panel">
                    <p class="panel-heading">
                        Todo List
                    </p>

                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input is-small" type="text" placeholder="search">

                            <span class="icon is-small is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>

                    <p class="panel-tabs">
                        <a
                            *ngFor="let tab of tabs; let i = index"
                            [ngStyle]="tab.isActive ? {'pointer-events': 'none'} : false"
                            [ngClass]="{'is-active': tab.isActive }"
                            (click)="onTabClick(i)">{{ tab.title }}</a>
                    </p>

                    <label
                        *ngFor="let todo of displayTodos; let i = index"
                        class="panel-block">
                        <input
                            type="checkbox"
                            [checked]="todo.isChecked"
                            (click)="todoClicked(i)">
                        {{ todo.content }}
                    </label>

                    <div class="panel-heading is-size-6 has-text-centered">
                        Just a <strong>Todo</strong> made by Alex Mtz.
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
